section#smelt
  div.page-header
    h1 About
  
  div.row
    div.span2.columns
      &nbsp;
    div.span12.columns
      p Smelt is a spidering tool. It goes through the URL provided, getting all internal links, and listing them as nginx location directives. This allows you to quickly assign rewrites from an old site structure to a new site structure. I built this for internal use, and as such it does not conform to robots.txt, nor does it do anything fancy with ?page= query links.
      p I do not guarentee this will even work for you, and is extremely alpha alpha software. I do not even guarentee that the location directives are accurate as I haven't tested them. Do not use directly on live sites without checking first, and of course, you need to replace /newpath with the path it corresponds to on your new site.
      p 
        h6 Robin Duckett
    div.span2.columns
      &nbsp;